body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    background-color: rgb(1, 1, 3);
    color: white;
  }
  
  h1 {
    width: 370px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 50px; 
  }

.container {
  padding: 40px;
  background-color: rgba(15, 15, 5, 0.699);
  width: 370px;
  margin: 0 auto;
  border: 2px solid;
}

.container p {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 23px;
}

.container input, .container button {
  margin: 8px;
}

input {
  width: 350px;
  height: 45px;
  background-color: rgb(1, 1, 3);
  border:1px solid white;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

#output {
  color: white;
  font-size: 25px;
  background-color: rgba(15, 15, 5, 0.699);
  margin: 0 auto;
  width: 370px;
  height: 50px;
  margin-top: 30px;
  padding: 40px;
  padding-top: 25px;
  padding-bottom: 10px;
  border: 2px solid;
  margin-bottom: 100px;
}


button {
  width: 350px;
  height: 45px;
  background-color: darkred;
  border-color: darkred;
  font-family: Arial;
  font-size: 20px;
}


@media only screen and (max-width: 500px){
  h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .container {
    width: 300px;
  }

  input {
    width: 290px;
  }

  button {
    width: 290px;
  }

  #output {
    width: 300px;
    padding: 20px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 435px){
 
  .container {
    width: 250px;
  }

  input {
    width: 95%;
    height: auto;
    font-size: 18px;
  }

  button {
    width: 95%;
    height: auto;
  }

  #output {
    width: 250px;
    font-size: 20px;
    padding: 8px;
  }
}
@media only screen and (max-width: 435px){
 
  h1{
    width: 200px;
    font-size: 20px;
  }

  .container p {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    width: 180px;
    padding: 25px;
  }

  input {
    font-size: 12px;
  }

  #output {
    width: 180px;
    font-size: 16px;
    padding: 8px;
  }
}